#top{
    width: 100%;
    margin:0px;
    height:300px;
}
#toolbar{
    background-image:url("wood.png");
    height:2%;
    width:100%;
    border-bottom: #a87eb5 1px solid;
    vertical-align: top;
    margin-top: -1.5%;


}
.item{
    display: inline;
    color:#a87eb5;
    font-size: 29px;
    border-right: 2px solid white;
    margin-left: 2%;
    padding-right: 2%;
    vertical-align: top;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;

}
body{
    vertical-align: top;
}
#main{
    background-image:url("flowers1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width:100%;

}
#text{
    width:30%;
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin: 5%;
    margin-left: 8%;
}
#image{
    width:23%;
    display: inline-block;
    vertical-align: top;
    margin: 5%;
    margin-left: 20%;

}
h2{
    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
    display:inline;
}
#transparent{
    background: rgba(204, 204, 204, 0.7) ;
    padding:30px;
    width:90%;
    margin:0 auto;

}
a{
    color:#a87eb5;
}
